@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Permanent+Marker&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Indie+Flower&family=Permanent+Marker&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
.logo{
    width: 80px;  
   
    margin: auto;
    
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#content{
    margin: 0 auto;
    max-width: 1600px;
}
#hero-msg h1{
    text-align: center;
    color: white;
   
}
nav a{
    text-align: center;
    text-decoration: none;
    background-color:white;
    color:black;
    padding: 35px;
    
}
nav a:hover{
    background-color: black;
    color: yellow;
}
#hero-msg h4{
    text-align: center;
    color: rgb(134, 196, 26);
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color:#3876e7;
    
}
body{
  background-color: #fcfbfb;
  font-family: 'Brush Script MT', cursive;
  margin: 0;
  padding: 0;
  font-size: 22px;
}
header{
    background-color:white;
}
footer{
    background-color:rgb(23, 22, 22);
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: yellow;
}
footer p{
    font-size: 1.2em;
    font-family: 'Indie Flower';
}
footer p a:hover{
    text-decoration: underline;
} 
.home-title{
   color: black;
   font-family: 'Brush Script MT', cursive;
   font-size: 2em;
   margin-top: 10px;
}
footer .social img{
    padding-top: 15px;
} 
header{
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
#background{
    grid-column: 1/11;
    grid-row: 5/8;
}
#homeimg{
    width:100%;
    height: 450px;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#homeimgdiv{
    width:100%;
    height: 350px;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#homepage-img{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#home{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#textfaq{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#page2-title{
    color: black;
    font-size: 50px;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    font-weight: bold;
}
#page3-title{
    color: white;
    font-size: 50px;
    margin-top: 180px;
    margin-right: 100px;
    margin-left: 150px;
    font-weight: bold;
}
main{
    
    display: grid;
    padding: 3rem;
    grid-template-columns: 250px 1fr;
    gap: 3rem;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    
}
img {
    max-width: 100%;
    height: auto;
}
#lastone{
    margin-bottom: -200px;
}
#lastq{
    margin-bottom: -200px;
    font-family: 'Ubuntu Condensed';
    background-color: #BCD0FD;
    font-size: 16px;
}
.qformain{
    font-size: 16px;
    font-family: 'Ubuntu Condensed';
    background-color: #BCD0FD
}
.title1{
    margin-top: -300px;
    font-size: 10px;
}
.imgsize{
    width: 350px;
    height: 250px;
}
.mainparagraph{
    grid-column: 1/4;
    grid-row: 1/3;
    text-align: center;
    background-color: #BCD0FD;
}
