/* General Styles */
body {
  font-family: Helvetica, Arial;
  color: #473144;
}

a {
  color: #AF1B3F;
  text-decoration: none;
}

h1, h2 {
  font-family: 'Lora', 'Impact', serif;
}

/* Header Styles */
header {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

nav {
  margin: 0 auto;
  border-top: 1px solid #EFC69B;
  border-bottom: 1px solid #EFC69B;
}

.main-nav {
  list-style: none;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 250px;
  font-weight: bolder;
  margin: 0 auto;
}

.main-nav li {
  margin-left: 20px;
}

/* Main Content Styles */
main {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 20px;
}

/* Article Details Styles */
.article-details {
  display: grid;
  text-align: right;
  line-height: 1; 
  position: relative;
  border-right: 1px solid #EFC69B;
  padding-right: 15px;
}

.article-details p {
  margin: 0; 
  padding: 0; 
}

/* Article Styles */
article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  padding: 20px;
  position: relative;
}

/* Article Heading Styles */
article h2 {
  color: #AF1B3F; 
  font-size: 30px; 
}
article figcaption {
  color: black; 
}

article figcaption a {
  color: #AF1B3F;
}

/* Image and Caption Styles */
figure {
  text-align: center;
}

figure img {
  max-width: 53%;
}

figcaption {
  font-style: italic;
  color: #AF1B3F;
  font-size: 16px;
  text-align: left;
  padding-top: 23px;
  font-weight: bold;
}

/* Skip to Content Link Styles */
.skiptocontent a {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 10px;
  z-index: 100;
  text-decoration: none;
}

.skiptocontent a:focus {
  top: 0;
}

/* Aside Styles */
aside {
  border: 1px solid #EFC69B;
  padding: 20px;
  text-align: center;
  max-width: 170px;
  max-height: 100%;
}
